<div id = "classabout">
<h3> About Tyrone Power </h3>
<hr>
<p> Tyrone Edmund Power, Jr. was born on May, 5th 1914 and died on november 15th 1918 is an american actor best known under the name of Tyrone Power, he appeared
in dozens of movies <br> between 1930 and 1950 usually playing a protagonist with a dark side. </p>

<p>
Born in Cincinnati in the Ohio on May, 5th 1914, he's the descendant of several comedians including his great grand-father, the irish actor Tyrone Power. He decided to follow in his father's footsteps <br>Tyrone Power Sr. by playing in american movies while he was just eleven in School for Wives in 1925, then at the age of 22 years when he played in the movie Lloyd's of London in 1936. <br> 
Tyrone Power died from an heart attack in Madrid at 44 years while shoting Salomon and the queen Seba. <br> He is buried in the Hollywood forever Cemetery in Halloween in California.
</p>

<h3> Reference to "The mark of Zorro" </h3>

<hr>
<p> In the Batman universe "The mark of Zorro" is in several versions the last movie Bruce saw with his parents just before they died. <br>
But the first Batman Comics has been released in 1939, the reference was about the 1920's "The mark of Zorro" with Douglas Fairbanks <br> and not the 1940's movie with  
Tyrone Power. <br>
But usually the reference is about the Tyrone Power's movie, in Batman V Superman(2016) a poster of "The mark of Zorro" <br> featuring Tyrone Power can be seen at the beginning of the movie.

<p> On the next picture we can read on the movie poster in the background the name "Tyrone Fairbanks" instead of "Tyrone Power" or "Douglas Fairbanks". <p>

<hr>
<img src="http://img.cinemablend.com/cb/6/5/b/6/6/2/65b662bfb010f4f8132da02aa968a794405ee4eb6bc9c9e445f915b58d8d0997.jpg" alt="Picture of Tyrone Power" class="GeneratedImage">
</div>
