<div id = "classabout">
<div id = "classabout2">
<h3> A propos de Tyrone Power </h3>
</div>
<hr>
<p> Tyrone Edmund Power, Jr. né le 5 mai 1914 et mort le 15 novembre 1958 est un acteur américain plus connu sous le nom de Tyrone Power, il est apparu 
dans des dizaines de films <br> entre 1930 et 1950 figurant souvent un protagoniste au coté obscur. </p>

<p>
Né à Cincinnati dans l'Ohio le 5 mai 1914, il  descend d'une lignée d'hommes de théâtre comme son arrière-grand-père, l'acteur irlandais Tyrone Power. Il va suivre les pas de son père <br>Tyrone Power Sr. en jouant dans des films américains dès l'âge de onze ans dans School for Wives en 1925, puis à l'âge de vingt-deux ans lorsqu'il joue dans le film Lloyd's of London, 1936. <br> 

Tyrone Power décède d'une attaque cardiaque à Madrid à 44 ans en plein tournage de Salomon et la reine de Saba. <br>Il est enterré au cimetière Hollywood Forever Cemetery à Hollywood en Californie.
</p>
<div id = "classabout2">
<h3> Clin d'oeil au film "Le signe de Zorro" </h3>
</div>
<hr>
<p> Dans l'univers Batman il est quelques fois fait allusion au film "Le signe de Zorro" puisqu'il s'agit du film que Bruce Wayne est allé voir avec ses parents
juste avant leur mort. <br>
Or le premier comics de Batman est sorti en 1939, la référence concernait donc "Le signe de Zorro" de 1920 avec Douglas Fairbanks et non celui de 1940 avec 
Tyrone Power. <br>
Et pourtant c'est souvent le film avec Tyrone Power auquel on fait désormais référence dans l'univers Batman, dans le film Batman V Superman(2016) une affiche du "Signe de Zorro" <br> figurant Tyrone Power est montré au début du film.

<p> Sur la photo suivante ils ont coupé la poire en 2 puisque l'on peut lire sur l'affiche "Tyrone Fairbanks". <p>

<hr>

<img src="http://img.cinemablend.com/cb/6/5/b/6/6/2/65b662bfb010f4f8132da02aa968a794405ee4eb6bc9c9e445f915b58d8d0997.jpg" alt="Picture of Tyrone Power" class="GeneratedImage">
</div>


