# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 83f06af3f0d35e0dfc68ff28424809c6b8c787fb2d75618d292e69b2188079071b6193b9ef6fd140678ac50dc0c13d9a15338c587ac930ca2bef44c648e15bfb

test:
  secret_key_base: aafecf6f7c3cc004280536167caa4da14d33bbb276ae9116e00370e9a95b12a8436ae184a812aac55d01cd2601a898639edfdea562039004a2592d0f55cb043b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
